/* Main Container */
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* Title */
.title {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 80px;
    font-style: italic; 
    margin-bottom: 10vh;
    opacity: 0; 
    animation: fadeInFromTop 2s ease-in-out forwards, gentleHover 3s ease-in-out infinite 2s;
}
@keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
@keyframes gentleHover {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Error Message */
.error {
    color: red;
}
/* Buttons */
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
    opacity: 0;
    animation: fadeInFromMiddle 2.5s ease-out forwards;
}
@keyframes fadeInFromMiddle {
    from {
      opacity: 0;
      transform: scale(0.5); /* Start slightly smaller */
    }
    to {
      opacity: 1;
      transform: scale(1); /* End at the normal size */
    }
}
.button {
    background-color: var(--primary-color);
    height: 40px;
    width: 400px; 
}
.button:hover {
    background-color: var(--primaryfade-color);
}
/* Details */
.blurOne {
    position: absolute;
    background-color: var(--primary-color);
    width: 30vw;
    height: 15vh;
    top: 30vh;
    left: 10vw;
    filter: blur(200px);
}
.blurTwo {
    position: absolute;
    background-color: var(--primary-color);
    width: 30vw;
    height: 15vh;
    top: 60vh;
    right: 10vw;
    filter: blur(200px);
}