.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5vh;
    animation: fadeInFromMiddle 2.5s ease-out forwards;
} 
.button {
    background-color: var(--primary-color);
    height: 40px;
    width: 400px;
}  
.button:hover {
    background-color: var(--primaryfade-color);
}  